<footer>
    <div class="footer_wrapper">
        <span class="footer__copyright">© 2023 Учебный музыкальный театр экстрады ИРКПО</span>
        
        <span class="footer__copyright"><a href="/signin">Вход для администрации</a></span>
    </div>
</footer>