<footer>
    <div class="footer_wrapper">
        <span class="footer__copyright">© 2009-2023 ГБПОУ ИО ИРКПО</span>
        
        <span class="footer__copyright"><a href="/signin">Вход для администрации</a></span>
    </div>
</footer>