<footer>
    <div class="footer_wrapper">
        <div class="footer_container">
            <p class="footer__copyright">
                <strong>Контакты:</strong><br>
                Электронная почта: vjs@irkpo.ru.<br>
                Телефоны: +7 (902) 176-43-36.<br>
            </p>
        </div>
        <div class="footer_container">
            <p class="footer__copyright">
                <strong>Реквизиты:</strong><br>
                ИНН 3812135590 / ОГРНИП 1113850034561.<br>
                Адрес: 664074, г.Иркутск, ул.5-я Железнодорожная, д. 53.<br>
            </p>
        </div>
        <div class="footer_container">
            <span class="footer__copyright">© 2023 Учебный музыкальный театр экстрады ИРКПО</span>
        </div>
        <div class="footer_container">
            <span class="footer__copyright"><a href="/signin"><i class="fa-solid fa-user" style="color: #ffffff; margin-right: .5rem;"></i>Вход для администрации</a></span>
        </div>
    </div>
</footer>