<header>
    <div class="header__wrapper">
        <a href="/" class="header__logo">
            <span class="header__logo_icon"><img src="https://img.icons8.com/ios/50/ffffff/theatre-mask.png"/></span>
            <span class="header__logo_title">Учебный Музыкальный<br>Театр Эстрады </span>
        </a>
        <div class="header__menu menu">
            <div class="menu__icon">
                <span></span>
            </div>
            <nav class="menu__body">
                <ul class="menu__list">
                    <li><a href="/" class="menu__link">АФИША</a></li>
                    <li><a href="/repertoire" class="menu__link">РЕПЕРТУАР</a></li>
                    <li><a href="/about" class="menu__link">О ТЕАТРЕ</a></li>
                    <li><a href="/help" class="menu__link">ПОМОЩЬ</a></li>
                    <li><a href="https://irkpo.ru/www/" class="menu__link">ИРКПО</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>