<style>
:root {
  --border-width: 2px;
  --border-color: #CED4DA;
  --border: var(--border-width) solid var(--border-color);
}

/* Sticky header */
table {
  border-collapse: separate;
  border-spacing: var(--border-width); /* 1 */
}

thead {
  position: sticky;
  top: var(--border-width); /* 2 */
}

th, td {
  outline: var(--border); /* 3 */
}

/* Other styles */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  margin: 0;
}

table {
  width: 100%;
}

th {
  text-align: left;
  background-color: #f1f3f5;
}

th, td {
  padding: 3px 5px;
}
.workspase__control {
    margin: 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.workspace__title {
    font-size: 3rem;
}
.workspase__table {
    box-sizing: border-box;
    margin: 1rem;
    height: 85vh;
    overflow-y: auto;
    /* box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2); */
}
</style>
<div class="workspace__wrapper">
    <div class="workspase__control">
        <span class="workspace__title">Управление</span>
        <div class="workspace_btns">

        </div>
    </div>
    <div class="workspase__table">
        Панель управления для администратора и редактора
    </div>
</div>