<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/preloader.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/about.css">
</head>

<body>
    <%- include('layouts/preloader') -%>
        <%- include('layouts/header') -%>
            <main>
                <section class="about">
                    <div class="about__wrapper">
                        <div class="about__title">О театре</div>
                        <div class="about__body">
                            <p><strong>Учебный Музыкальный Театр Эстрады </strong>– это учебно-производственный комплекс ИРКПО, который
                                позволяет студентам не только совершенствовать уровень своей профессиональной
                                подготовки, но и приобретать конкурентоспособность на рынке труда. </p>
                            <p>Раньше многие отличные концертные программы и спектакли, сделанные на высоком
                                художественном и техническом уровне, показывались один-два раза лишь для небольшого
                                круга зрителей. Теперь же прикоснуться к незабытому, обновленному студенческой
                                свежестью, миру театра эстрады может любой желающий.</p>
                            <p>Под руководством преподавателей сценической речи и актерского мастерства, хореографов и
                                преподавателей вокала студенты-старшекурсники регулярно представляют зрителям свои
                                творческие работы: песни, танцы, художественное чтение, которые педагоги-режиссеры
                                оформляют в единую театрализованную форму. Поэтому репертуар театра постоянно
                                обновляется концертами, литературными вечерами, музыкальными шоу и спектаклями.</p>
                            <p>Многогранные и яркие жанры эстрадного искусства, разнообразие вокальных стилей,
                                актуальные и глубокие темы постановок не только подарят зрителю отличное настроение, но
                                и дадут пищу для ума и для души.</p>
                        </div>
                    </div>
                </section>
            </main>
            <%- include('layouts/footer') -%>
</body>

<%- include('layouts/scripts') -%>

</html>