<link rel="stylesheet" href="/stylesheets/error.css">

<div class="error_report">
    <span class="error_code">Ошибка <%= error.status %></span>
    <span class="error_message"><%= message %></span>
    <a href="/"><span class="error_back">Вернуться на главную страницу</span></a>
</div>

<!-- <pre><%= error.stack %></pre> -->
