.about {
    position: relative;
    display: block;
    box-sizing: border-box;
    background-color: #ffffff;
    scroll-behavior: smooth;
}

.about__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
}

.about__title {
    position: relative;
    width: 100%;
    text-align: center;
    color: #911D26;
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
    white-space: nowrap;
    text-transform: uppercase;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about__title::after,
.about__title::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #911D26;
    position: relative;
}

.about__title::before {
    margin-right: 1rem;
    margin-left: 1.5rem;
}

.about__title::after {
    margin-right: 1.5rem;
    margin-left: 1rem;
}

@media (max-height: 720px) or (max-width: 480px) {
    .about__title {
        font-size: 2.25rem;
    }

    .about__title::after,
    .about__title::before {
        height: 1px;
    }
}